    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Monica</h2>
                <p>Born and raised in Vancouver, Canada to Vietnamese and Filipino parents, Monica discovered her love for
                    people through her experiences of working in the restauraunt industry for more than 7 years. Alongside
                    making her guests smile at her chosen establishments, she was always a client herself to her favourite
                    Japanese nail techs in the lower mainland and enjoyed getting her nails done daily. Like all human
                    beings, during her time at college/university, she felt distraught about where she wanted to go in life
                    so she decided to merge the two: amazing nails and the human experience.</p>
    
                    <p>Having studied the Japanese language since high school and having an interest in Japanese culture,
                    moving to Japan was not a matter of if but when. The decision to study nails in Japan seemed the perfect
                    opportunity to utilize all those skills learned in her previous years.</p>
    
                    <p>Monica believes that the perfect human experience starts by creating a healthy environment of safety for
                    not only her clients, but her staff as well. It matters not whether they work directly with her, or they
                    are simply delivering the paper outside. She believes in paying it forward by creating a circle of
                    safety beyond our borders, regardless of status and/or rank.</p>
    
                    <p>She finds fulfillment in her work by showing up everyday to simply make people smile. Interacting with
                    her clients and seeing their reactions throughout their journey - whether they are sitting with her at
                    the nail table, or sitting at a table in the restaurants where she works at - brings her the utmost joy.</p>
    
                    <p>Work is a crucial aspect of life and she believes that feeling fulfilled at work is a human right and
                    not a mere luxury. She wants to create a world where the majority of people wake up happy to go to work
                    in the morning and come home feeling fulfilled by the work that they do. Through her work, she hopes to
                    inspire you to pay it forward and help others simply smile so that you as well, can feel fulfilled by
                    your work and inspire others that anything is possible when we feel like we belong.</p>
    
                    <blockquote class="light">“The journey to greatness begins the moment our deep desires for comfort and ease are overpowered by our
                    own desires to connect and contribute.”
                    <br><br><i>- Brendon Burchard</i></blockquote>
            </div>
        </div>
    </section>