    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img class="intro-logo" src={{"/logo.png" | prepend: site.baseurl }}>
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="light">{{ site.subtitle }}</p>
                        <a href="#intro_2" class="btn btn-circle page-scroll">
                            <i class="fa fa-arrow-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
