<!-- Intro Section -->
<section id="intro_2" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Welcome to Nails by Monica Bui</h2>
            <p>Our mission is what drives us to maximize human potential. We work to inspire others to journey inwards to
            find the place where nothing is impossible. We want to make our mark on the world by creating a more
            fulfilling reality for each other.</p>

            <p>We do this by personalizing each service to your needs by helping you bring your visions to life, and by
            making a positive impact in not only your life, but in the communities where we live and work.</p>

            <h3>1. We dare to challenge the standard of beauty</h3>
                <p>We create pieces that go beyond the box of what the 'normal' standard of beauty is - we want to help you
            feel more like you, however you choose to perceive your world.</p>

            <h3>2. A team that's empowered, diverse and inclusive</h3>
            <p>An obsession with growth and a love for people unites us. Regardless of mere attributes such as ranking,
            position, senority, etc. we strive to become the best versions of ourselves and challenge our limits daily.
            We stand proud of our journey but is never satisfied - we believe that there is no cap to the amount of
            knowledge one can truly intake.</p>

            <H3>3. Protecting the future of aesthetics</H3>
                <p>We believe in a fair, more fulfilling future for not just our clients but for each other as people in a
            forever evolving industry. We want to create an environment of safety for all individuals involved in the
            industry so that we all can thrive in such a cut-throat, competitive space.</p>

            <p>We encourage growth in all aspects and that as artists and clients ourselves, practice indeed does make
            'perfect'. No matter how many times we may make a mess and fail, no matter how many acholades we may
            receieve, it is always a great idea to pick up our implements and try again.</p>
        </div>
    </div>
</section>