<!-- Services Section -->
<section id="services" class="content-section text-center">
    <!--   <div class="download-section">-->
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Services</h2>
            <p>There are 3 menus to choose from.</p>
            <div class="row" id="menus">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img id ="nail_services" src={{"/files/MENU_1.png" | prepend: site.baseurl }} alt="Nail Services" style="width: 100%">
                        <div class="caption">
                            Nail Services
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                            <img id="nail_art" src={{"/files/MENU_2.png" | prepend: site.baseurl }} alt="Nail Art" style="width: 100%">
                            <div class="caption">
                                Nail Art
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                            <img id="omakase" src={{"/files/MENU_3.png" | prepend: site.baseurl }} alt="Nail Omakase" style="width: 100%">
                            <div class="caption">
                                Nail Omakase
                            </div>
                    </div>
                </div>
            </div>
            <div id="services_modal" class="modal">
                <span class="close cursor">&times;</span>
                <div class="modal-content">
                    <img src={{"/files/MENU_1.png" | prepend: site.baseurl }} style="width:100%" class="img">
                </div>
            </div>
            <div id="art_modal" class="modal">
                <span class="close cursor">&times;</span>
                <div class="modal-content">
                    <img src={{"/files/MENU_2.png" | prepend: site.baseurl }} style="width:100%" class="img">
                </div>
            </div>
            <div id="omakase_modal" class="modal">
                <span class="close cursor">&times;</span>
                <div class="modal-content">
                    <img src={{"/files/MENU_3.png" | prepend: site.baseurl }} style="width:100%" class="img">
                </div>
            </div>
        </div>
        <!--</div>-->
    </div>
</section>